# Python
__pycache__/
*.pyc
*.pyo

# VirtualEnv
.venv/
venv/

# VSCode
.vscode/

# Logs
logs/
*.log

# Models
models/*.pt
models/*.onnx

# Dataset
datasets/

# Docker
*.tar

# Linux
.DS_Store

# pytest
.pytest_cache/

# build
dist/
build/

# node
node_modules/

# env
.env

# media
data/recordings/